<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Tagging</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Images to Tag</h1>
        {% for image in images %}
            <div class="card mb-3">
                <img src="{{ url_for('serve_catch_file', filename=image) }}" alt="{{ image }}" class="card-img-top" style="max-width: 500px; margin: auto;">
                <div class="card-body text-center">
                    <a href="{{ url_for('tag_image', filename=image) }}" class="btn btn-primary">Tag This Image</a>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>